.newPlaylistForm {
  color: white;
  background-color: var(--grey-2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  
  min-width: 300px;
  max-width: 400px;
}

.newPlaylistForm > div:nth-child(6) > div {
  /*Copied selector from inspector element, this is  */
  border-radius: 5px;
  background-color: var(--color-midColor);
  /* background-color: var(--color-midColor);
} */
}

#newPlaylist-name-input,
#newPlaylist-city-input,
#newPlaylist-state-input,
#newPlaylist-tags-input,
#newPlaylist-desc-text {
  color: white;
  border-radius: 5px;
  background-color: var(--color-midColor);
}
#newPlaylist-name-input-label,
#newPlaylist-city-input-label,
#newPlaylist-state-input-label,
#newPlaylist-tags-input-label,
#newPlaylist-desc-text-label {
  color: white;
}
#newPlaylist-desc-text {
  height: 5rem;
  text-align: left;
  text-overflow: none;
}
.stateContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.signUpFormTitle {
  background: var(--purp-pink);
  font-family: 'Cantarell';
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 2vh 0 2vh;
  font-size: 2rem;
  margin: 2vh 0 0 0;
}
.Label {
  color: var(--white-1);
  font-family: 'Cantarell';
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
}
.privateListText {
  color: white;
}
.newPlaylistSubmitButton{
  font-size: 1.5rem;
}
.MuiSwitch-root{
  margin-bottom: 5%;
}
