.newPlaylistForm {
  color: white;
  background-color: rgba(128, 128, 128, 0.404);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  min-width: 300px;
  max-width: 400px;
  margin-bottom: 30%;
}

#root > div > main > section > form > div:nth-child(6) > div {
  /*Copied selector from inspector element, this is  */
  border-radius: 5px;
  background-color: var(--color-midColor);
}
#newPlaylist-name-input,
#newPlaylist-city-input,
#newPlaylist-state-input,
#newPlaylist-tags-input {
  color: white;
  border-radius: 5px;
  background-color: var(--color-midColor);
}
#newPlaylist-name-input-label, #newPlaylist-city-input-label,
#newPlaylist-state-input-label,
#newPlaylist-tags-input-label, #newPlaylist-desc-text{
  color: white;
}
#newPlaylist-desc-text {
  height: 5rem;
  text-align: left;
  text-overflow: none;
}
.stateContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.loginTitle {
  margin-top: 0;
  margin-bottom: 10%;
  color: var(--color-highlight);
}
.signUpFormTitle {
  color: white;
  font-size: 2.5rem;
  margin-top: 5%;
  margin-bottom: 5%;
}
