.Button {
  font-size: 1.5rem;
  margin: 2%;
  margin-bottom: 10%;
  margin-top: 15%;
  transition-duration: 0.3s;
  cursor: pointer;
  color: var(--color-background);
  background-color: var(--color-darkMid);
  padding: 0.6rem;
  border-radius: .5rem;
}

.Button:hover {
  background-color: var(--color-highlight);
  color: white;
}