.Button {
  transition-duration: 0.3s;
  cursor: pointer;
  color: var(--color-background);
  background-color: Transparent;
  border: 2px solid white;
}

.Button:hover, .Button:active {
  font-color: var(--color-background);
  border: 2px solid;
  border-image-source: var(--purp-pink);
  border-image-slice: 1;
  color: white;
}
