form {
  font-size: 1.8rem;
  padding: 0.7rem;
  align-content: center;
  margin: 0 auto;
  border-radius: 1rem;
}

input {
  font-size: 1.5rem;
  margin: 2%;
  text-align: left;
}

label {
  margin: 2%;
}
#registration-name-input {
  border-radius: 5px;
}
#registration-username-input {
  border-radius: 5px;
}
#registration-locationCity-input {
  border-radius: 5px;
}
#registration-password-input {
  border-radius: 5px;
}

@media screen and (min-width: 1025px) {
  form {
    max-width: 50rem;
  }
}
