.list-name, .filteredListName, .userListTitle, .list-name {
  color: var(--white-1);
  align-self: center;
  width: auto;
  margin-top: 0;
}

.listItem:active .list-name, .listItem:active .filteredListName, .listItem:active .userListTitle{
  background: var(--purp-pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.listItem:hover .list-name, .listItem:hover .filteredListName, .listItem:hover .userListTitle{
  background: var(--purp-pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.listItem {
  background-color: var(--grey-1);
  text-decoration: none;
  min-width: 250px;
  margin-right: 5%;
  height: 100px;
  padding: 0.5rem 1rem;
  border: 2px solid;
  border-image-source: var(--purp-pink);
  border-image-slice: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  opacity: .85;
}
.listItem:hover, .listItem:active {
  box-shadow: 0px 0px 20px var(--pink);
  opacity: 1;
}
