.fire {
  display: inline;
  height: 20px;
  margin: 0px;
  padding: 0px;
}
.fire-container {
  display: inline;
  border: 1px solid black;
  width: 20px;
  padding: 0px;
  margin: 0 0 0 5px;
}
.firetext {
  padding: 0;
  margin: 0;
  font-size: .6rem;
  color: red;
}
