.signupBtnLink a {
  font-size: 1.2rem;
  color: red;
}
.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}
.state-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.signUpTitle {
  color: var(--color-highlight);
  margin-top: 25%;
  margin-bottom: 0;
}
#registration-password-input,
#registration-location-state-select,
#registration-location-city-input,
#registration-username-input,
#registration-name-input {
  background-color: var(--color-background);
}
.registerForm button,
a {
  font-size: 20px;
}
