.myListName {
  color: white;
  font-size: 2rem;
  margin-bottom: 5%;
  margin-top:0;
  border: 1px solid green;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loadingAnimation {
  width: 75px;
  height: auto;
}
.loadingText {
  color: white;
}

#map{
  margin-bottom: 0;
  width: 100px;
}
.listNameContainer{
  max-height: 10vh;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}
.newSpotButton{
  margin:5%;
}