.myListName {
  font-family: 'Cantarell';
  text-transform: uppercase;
  font-size: 1.5rem;
  background: var(--purp-pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  margin-bottom: 5%;
  margin-top: 0;
  margin-bottom: 0;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
}
.loadingAnimation {
  width: 75px;
  height: auto;
  margin: 50vh 50vw 50vh 50vw;
}
.loadingText {
  color: white;
}
.listPageMain {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 5%;
}

.listNameContainer {
  max-height: 10vh;
  display: flex;
  flex-direction: column;
}
.newSpotButton {
  margin: 0;
}

.newSpotButton:hover {
  background: var(--purp-pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
