.userListContainer {
  overflow: scroll;
}
.userList-section {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 90vw;
  max-width: 90vw;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.display-user {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  padding: 1.5rem 0;
}
.myList-title {
  margin: 1vh 0 0 0;
  font-family: 'Cantarell';
  text-transform: uppercase;
  font-size: 1.3rem;
  background: var(--purp-pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: flex-start;
}
/* .listItem {
  text-decoration: none;
  min-width: 200px;
  background-color: white;
  margin-right: 5%;
  height: 100px;
  max-width: 75vw;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  border: 1px solid grey;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.userListItem {
  max-width: 100px;
}
.users {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#newPlaylistButton {
  padding: 0.25rem 0.5rem;
  align-self: flex-end;
  margin-top: 5%;
  color: var(--white-1);
  font-size: 1rem;
  margin: 0 5% 0 0;
}

#newPlayListButton:hover,
#newPlayListButton:active {
  background: var(--purp-pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.newPlayListButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.listItemName {
  color: #4267b2;
}
.userListTitle {
  cursor: pointer;
  font-weight: bold;
  /* margin-bottom: 0;
  margin-top: 5%; */
  margin: 0;
  padding-right: 1rem;
}

.btn-list {
  padding: 0.5rem;
  background-color: var(--color-midColor);
  color: var(--color-darkMid);
  border: 1px solid var(--color-darkMid);
  border-radius: 15px;
  margin-top: 5%;
  cursor: pointer;
}

.userlist-btn {
  font-size: 1rem;
  background: transparent;
  border: 0;
  margin-top: 0.5rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  visibility: hidden;
}

.userlist-btn .timesIcon:hover {
  font-weight: 900;
  color: blue;
  cursor: pointer;
}

.userlist-btn .editIcon:hover {
  font-weight: 900;
  color: blue;
  cursor: pointer;
}

.timesIcon {
  font-size: 1.7rem;
  border: transparent;
  color: #ff5033;
  margin-bottom: -3px;
}

.editIcon {
  font-size: 1.5rem;
  border: transparent;
  color: black;
}

.listItem:hover .userlist-btn {
  visibility: visible;
}


@media only screen and (min-width: 500px) {
  .userList-section {
    margin-top: 5%;
    padding: 0.4rem 0.8rem;
  }

  #newPlaylistButton {
    display: block;
  }
}
