.userListContainer{
    overflow: scroll;
}
.userList-section{
    margin-top: 20%;
    margin-left: auto;
    margin-right:auto;
    display: flex;
    width: 75%;
    max-width: 75vw;
    flex-direction: column;
   padding: .5rem 1rem;
}

.display-user{
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
}
.myList-title{
    color: white;
    align-self: flex-start;
}
.listItem{
    text-decoration: none;
    flex: 1, 1, 30%;
    background-color:white;
    margin-right: 5%;
    height: 100px;
    max-width: 75vw;
    padding: .5rem 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar{
    background-color: transparent;
}
.userListItem{
    max-width: 100px;
}

#newPlaylistButton{
    width: 50%;
    max-width: 150px;
    padding: .25rem .5rem;
    align-self: flex-end;
    margin-top: 5%;
    background-color: #4CAF50;
    border-radius: 25px;
    color: white;
}
.listItemName{
    color: #4267b2;
}

.btn-list {
    padding: .5rem;
    background-clip: lightgray;
    color: blue;
    border: 1px solid black;
    cursor: pointer;
}