.App {
  text-align: center;
}

body {
  background-color: #4267b2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: black;
}

.App-link {
  color: #61dafb;
}
.h1 {
  color: lightblue;
  font-size: 2rem;
}
a{
  text-decoration: none;
}
