:root{
  --color-background: #EBEBEB;
  --color-midColor: #D2D9D9;
  --color-highlight:#1A3BEB;
  --color-body:#21201f;
  --color-newButton:#4caf50;
  --color-darkMid:#817C7C;
  --gradient-background: linear-gradient(white, var(--color-midColor))
}
*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  background-color: var(--color-midColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: var(--color-midColor);
  padding-left: 5%;
  padding-right: 5%;
}
a{
  text-decoration: none;
}