.loginForm{
    color: #4267b2;
    background-color: white;
    border-radius: 0;
}
.loginTitle{
    color: white;
}
#login-username-input{
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
}
#login-password-input{
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
}
.loginTitle{
    margin-top: 0;
    margin-bottom: 5%;
}