

.display-hotIn {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  white-space: nowrap;
  padding: 1.5rem 0;
}

.hotListTitle {
  color: var(--color-highlight);
  align-self: flex-end;
  margin-top: 0;
  margin-right: 3%;
  text-align: center;
}
.hotListSection {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 90vw;
  max-width: 90vw;
  flex-direction: column;
  padding: 0.5rem 1rem;
  overflow: auto;
}
#hotInSelect{
  background-color: white;
}
.hot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3rem;
  min-width: 250px;
}
.hotInSelectContainer{
  display: flex;
  justify-content: flex-start;
  
}