.titleLink{
    text-decoration: none;
    color: white;
    align-self: flex-start;
}
.logoutLink{
    color: white;
    align-self: flex-end;
}
.headerContainer{
    background-color: rgba(52, 42, 232, 0.281);
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: flex-start;
}