.brand {
  margin: 0 0 0 0;
  text-transform: uppercase;
  color: white;
  font-family: 'Seymour One';
  font-size: .5rem;
}

.brand:hover, .brand:active {
 background: var(--purp-pink);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.titleLink{
    text-decoration: none;
    color: var(--color-background);
    align-self: flex-start;
    font-size: 1.5rem;
}
.logoutLink{
    color: var(--pink);
}
.headerContainer{
  height: 30px;
  background-color: var(--grey-3);
  border-bottom: 2px solid;
  border-image-source: var(--purp-pink);
  border-image-slice: 1;
  min-width: 100vw !important;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  opacity: .9;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
