.newSpotForm {
  color: var(--grey-2);
  background-color: rgba(128, 128, 128, 0.404);
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#newSpot-name-input,
#newSpot-address-input,
#newSpot-location-city-select,
#newSpot-location-state-select,
#newSpot-tags-input {
  color: white;
  border-radius: 5px;
  background-color: var(--color-midColor);
}

#newSpot-name-input-label,
#newSpot-address-input-label,
#newSpot-location-city-select-label,
#newSpot-location-state-select-label,
#newSpot-tags-input-label {
  color: white;
}
.signUpFormTitle {
  color: green;
  font-size: 2.5rem;
}
.newSpotCancelButton{
  font-size: 1.2rem;
  margin: 2%;
}
.newSpotSaveButton{
  font-size: 1.2rem;
  margin: 2%;
}

.newSpotButtons{
  display: flex;
  justify-content: space-evenly;
}