label span {
  color: white;
  font-size: 1rem;
}

#updateList-name-input,
#updateList-city-input,
#updateList-state-input,
#updateList-desc-input,
#updateList-isPublic-input,
#updateList-tags-input {
  color: white;
  border-radius: 5px;
  background-color: var(--color-midColor);
}

#updateList-name-input-label,
#updateList-city-input-label,
#updateList-state-input-label,
#updateList-tags-input-label,
#updateList-desc-input-label {
  color: white;
}

#updatePlaylist-desc-text {
  height: 5rem;
  text-align: left;
  text-overflow: none;
}
#root > div > main > form > div:nth-child(6) > div > div > div {
  background-color: var(--color-midColor);
}
.updatePlaylistForm > div:nth-child(5) > div {
  /*Copied selector from inspector element, this is  */
  border-radius: 5px;
  background-color: var(--color-midColor);
  /* background-color: var(--color-midColor);
} */
}

.updateListForm {
  color: white;
  background-color: rgba(128, 128, 128, 0.404);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  min-width: 300px;
  max-width: 400px;
  margin-bottom: 50vh;
}

.editPlaylistTitle {
  font-family: 'Cantarell';
  text-transform: uppercase;
  background: var(--purp-pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20vh;
  margin-bottom: 5%;
}

a.can-button {
  font-size: 20px;
  color: white;
}

.sav-button {
  font-size: 20px;
  color: white;
  margin: 10px 0 10px 15px;
}

.registerForm button {
  font-size: 20px;
  color: white;
}
#updateList-isPublic-checkbox {
  display: block;
}

.sav-button:hover,
.can-button:hover,
.sav-button:active,
.can-button:active {
  font-size: 20px;
  background: var(--purp-pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
