.likeButtonContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}
.notLikedIcon{
  width: 30px;
  height: auto;
}
.likedIcon{
  float: right;
  width: 30px;
  height: auto;
  border-radius: 100px;
  background-color: green;
}
.likes{
  color: green;
}