.likeButtonContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-self: flex-start;
}
.notLikedIcon{
  width: 30px;
  height: auto;
}
.likedIcon{
  width: 30px;
  height: auto;
}
.likes{
  color: var(--color-body);
  font-size: 1.25rem;
  margin: 0;
}
