.filtered {
  margin: 5%;
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.filteredContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;
}
#filterForm {
  color: var(--color-highlight);
  margin-top: 5%;
}
.filterButton {
  color: var(--color-body);
  order: 2;
  border-radius: 5px;
}
.filterField {
  text-align: right;
  width: 50%;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
}

.filterField::placeholder {
  color: var(--color-midColor);
}

.filterFormTitle {
  font-family: 'Cantarell';
  text-transform: uppercase;
  font-size: 1.8rem;
  background: var(--purp-pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 3% 0;
}
.filterButtonContainer {
  display: flex;
  justify-content: center;
}
.newPlaylistButtonText {
  color: white;
}
.filteredListName {
  cursor: pointer;
  margin-bottom: 2%;
}
.filteredListTag {
  color: var(--color-darkMid);
  cursor: pointer;
  margin-top: 0;
}

@media only screen and (min-width: 700px) {
  .filteredContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .filtered {
    width: 33.3%;
  }
  .listItem {
    overflow: hidden;
  }
  .filterButton {
    justify-self: center;
  }
}
