.spotName {
    color: var(--color-highlight);
  }
  .spotItem {
    text-align: left;
    padding: 10px;
    margin: 5px 0;
    background-color: var(--grey-1);
    border: 2px solid;
    border-image-source: var(--purp-pink);
    border-image-slice: 1;
    width: 325px;
    opacity: .85;
  }
  .spotContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    overflow-y: scroll;
    margin-top: 5%;
  }
  .spot-buttons{
    display: flex;
    margin-top:5%;
    width: 100%;
  }

  .spotName {
    display: block;
    font-family: 'Cantarell';
    text-transform: uppercase;
    font-size: 1.4rem;
    background: var(--purp-pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2%;
    margin: 2% 0;
    line-height: 1.2rem;
  }

  .spotInfo{
    margin: 0 0 0 10px;
    padding: 2%;
    color: var(--white-1);
    font-size: 1.1rem;
    line-height: .4rem;
  }
  .spotTags{
    margin: 10px 0 10px 20px;
    color: var(--white-1);
    font-size: 1.2rem;
}
.spotDelete{
    margin:0;
    margin-right: 5%;
    float: left;
    font-size: .75rem;
}

#deleteSpotButton{
  margin: 2%;
  font-size: 1.25rem;
}
#editSpotButton{
  margin: 2%;
  font-size: 1.25rem;
}